#rootHelloAsso {
    padding: 0;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
}
#rootHelloAsso h2 {
    padding: 1rem;
}
/**
* Header
*/
#rootHelloAsso > nav {
    display: flex;
    flex-direction: row;
    margin: 0 0 2rem 0;
}
.link_chemin, .active {
    display: flex;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.active {
    color: var(--bleu-foncer) !important;
    background-color: var(--orange-clair);
}
.content_bouton_start {
    display: flex;
    justify-content: center;
    margin: 4rem 0 4rem 0;
}
.titre_welcome {
    text-align: center;
    font-style: italic;
    font-size: 1rem;
}
/**
* Formulaire
*/
.close {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 1.5rem;
    min-height: 220px;
    height: 100%;
    border-bottom: 1px solid #ccc;
}
.close h3 {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}
.rond_valider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
    width: 50;
    height: 50;
    border-radius: 50%;
    color: #ffffff;
    background-color: green;
}
.form_inscription {
    position: relative;
    overflow: hidden;
    margin: auto;
    transition: height 0.3s linear;
}
.adherent_grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
}
.label_qs {
    display: block;
    text-align: center;
    margin: 0 auto 2rem auto;
    cursor: pointer;
}
.label_ligne {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem;
    margin-bottom: 2rem;
}
.label_adresse {
    display: block;
    margin-bottom: 2rem;
}
.label_radio {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0;
    cursor: pointer;
    transition: background-color 0.3s linear;
}
.label_radio:hover {
    background-color: #f6f6f6;
}
.label_radio > input {
    position:absolute;
    opacity: 0;
	width: 0;
	height: 0;
}
.new_input {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    height: 25px;
    flex-basis: 25px;
    transform: scale(0.8);
    border-radius: 50%;
    margin-right: 1rem;
	background-color: #ccc;
	transition: all 0.3s linear;
}
.label_radio > input:checked + .new_input {
    transform: scale(1);
    background-color: green;
}
.label_radio > input:checked + .new_input::before {
    display: block;
    content: "\2714";
    color: #ffffff;
    font-size: 1.1rem;
}
.content_membre {
    display: block;
}

/**
* Home
*/
.bandeau_haut {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    color: #ffffff;
    background-color: var(--bleu-foncer);
}
.bandeau_haut_titre {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
}
.hello_deconnexion {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #ffffff !important;
    border: 1px solid #ffffff;
    border-radius: 1rem;
    background: none;
}
.bandeau_bas {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: var(--bleu-foncer);
    background-color: #f8f8f8;
}
.hello_infos { text-align: center;}
.hello_description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid var(--grey-light);
    padding: 1rem 3rem;
}
.hello_description > img {
    align-self: center;
}
.hello_description > span {
    padding-left: 1.5rem;
}
.content_start {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 3rem auto;
}
.content_start > div {
    text-align: center;
}
.titre_adhesion {
    font-family: var(--font-condensed);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--bleu-foncer);
}
.bt_bleu, .bt_bleu_outline, .bt_vert, .bt_supprimer, .bt_modifier, .bt_ajouter{
    display: inline-flex;
    font-family: var(--font-condensed);
    font-weight: 600;
    font-size: 1.1rem;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    padding: 0.6rem 2rem;
    min-width: 120px;
    text-decoration: none;
    color: #ffffff !important;
    background-color: var(--bleu-foncer);
    border-radius: 999px;
    transition: all 0.3s linear;
}

.bt_ajouter {
    display: flex;
    color: var(--black-color) !important;
    font-size: 0.9rem;
    background-color: var(--grey-color);
}
.bt_modifier {
    display: flex;
    color: var(--black-color) !important;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    background-color: #ffffff;
}
.bt_ajouter:hover {
    color: #ffffff !important;
    background-color: var(--black-color);
}
.bt_vert {
    color: #ffffff !important;
    background-color: green;
}
.bt_vert:hover {
    box-shadow: 0px 0px 0px 5px var(--orange-clair);
    background-color: rgb(0, 99, 0);
}
.bt_supprimer {
    color: #ffffff;
    background-color: var(--grey-color);
}
.bt_supprimer:hover {
    background-color: var(--black-color);
}
.bt_bleu_outline {
    color: var(--bleu-foncer)!important;
    background-color: #ffffff;
    border: 2px solid var(--bleu-foncer);
}
.bt_bleu_outline:hover {
    background-color: var(--grey-light);
}
.bt_bleu:hover {
    color: #ffffff !important;
    box-shadow: 0px 0px 0px 5px var(--orange-clair);
}
.bt_bulle {
    padding: 0 0.5rem;
    max-height: 25px;
    font-size: 0.75rem;
    margin: 0 0 0 1rem;
    background-color: var(--bleu-foncer);
}
.bt_close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    background-color: var(--bleu-clair);
    transition: background-color 0.3s linear;
}
.bt_close:hover {
    background-color: var(--black-color);
}
/**
* Licences
*/
.content_licences {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.ligne_licence {
    display: block;
}
.sous_ligne_licence {
    display: block;
    padding: 0.5rem 0 2rem 2rem;
}
.label_sous_ligne_licence {
    display: flex;
    align-items: center;
}
fieldset {
    margin: 1rem;
    padding: 1rem;
    border: none;
    background: none;
}
legend {
    font-weight: bold;
    color: var(--bleu-foncer);
}
.fieldset_grey {
    padding: 2rem 3rem 2rem 3rem;
    background-color: #f8f8f8;
}
.content_bulle {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    max-width: 80%;
    margin: auto;
    padding: 0 2rem 2rem 2rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}
.content_close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 0;
}
.fade {
    transform: scale(1);
    transition: all 0.3s;
  }
  .fade.out {
    transform: scale(0.8);
    opacity: 0;
  }

/**
* Total
*/
.hello_total {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    margin: 2rem 0;
    background-color: var(--orange-clair);
}
.hello_total > span {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    padding: 0.35rem 0.5rem;
    font-size: 1rem;
}
.hello_total > span > b {
    display: flex;
    min-width: 90px;
    justify-content: flex-end;
}

/**
* Navigation bottom
*/
.reset {
    justify-content: space-between !important;
}
.navig_bottom {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.navig_bottom_form {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
}
.navig_bottom > * {
    margin: 0;
}

/**
* Famille
*/
.content_ajouter {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 1rem 0;
}
.hello_h4 {
    display: block;
    padding: 0.5rem 0;
    font-weight: bold;
    color: var(--bleu-foncer);
}

/**
* Loader
*/
.hello_loader {
    position: fixed;
    top: 0;
    display: flex;
    z-index: 20;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba( 255,255,255, 0.9);
}
.hello_loader::before {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    border: 6px solid var(--bleu-foncer);
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.hello_loader > p { color: var(--bleu-foncer); text-align: center; font-weight: bold; }
.hello_loader > p > img { margin: 1rem auto; }


/**
* MOBILE
*/
@media screen and (max-width:1024px) {
    #rootHelloAsso {
        border-radius: unset;
    }
    .adherent_grid {
        display: block;
    }
    .label_ligne {
        margin-bottom: 1rem;
    }

}
@media screen and (max-width:750px) {
    .bandeau_haut {
        flex-direction: column;
        justify-content: center;
    }
    .bandeau_haut_titre {
        text-transform: uppercase;
        font-size: 1.4rem;
    }
    .hello_deconnexion {
        margin-top: 1rem;
    }
    .hello_description {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .hello_description > img {
        padding: 1rem 0;
    }
    .hello_description > span {
        padding: 0;
        text-align: justify;
    }
    .content_start {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .content_start > div {
        margin-bottom: 2rem;
    }
    .content_start a {
        width: 90%;
    }
    .adherent_grid {
        padding: 0;
    }
    .label_ligne {
        column-gap: 1rem;
    }
    fieldset, .fieldset_grey {
        padding: 0;
    }
    legend {
        margin-bottom: 1rem;
    }
    .navig_bottom {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .navig_bottom button {
        margin-bottom: 1rem;
    }
    .bt_bulle {
        padding: 1rem;
    }
    .content_licences {
        display: flex;
        flex-direction: column;
    }
    .hello_total > span {
        padding: 0.4rem 1rem;
    }
}