#rootHelloAsso {
    padding: 0 1rem;
}
/**
* Header
*/
#rootHelloAsso > nav {
    display: flex;
    flex-direction: row;
    margin: 0 0 2rem 0;
}
.link_chemin, .active {
    display: flex;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.active {
    color: var(--bleu-foncer) !important;
    background-color: var(--orange-clair);
}
.content_bouton_start {
    display: flex;
    justify-content: center;
}
/**
* Formulaire
*/
.form_inscription {
    max-width: 800px;
}
.label_ligne {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    margin-bottom: 2rem;
}
.label_adresse {
    display: block;
    margin-bottom: 2rem;
}
.label_radio {
    display: flex;
    margin: 0.5rem 0;
    cursor: pointer;
}
.label_radio > input {
    margin-right: 1rem;
}
.content_membre {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
}

/**
* Home
*/
.bandeau_haut {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    color: #ffffff;
    background-color: var(--bleu-foncer);
}
.bandeau_haut_titre {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
}
.hello_deconnexion {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #ffffff !important;
    border: 1px solid #ffffff;
    border-radius: 1rem;
    background: none;
}
.content_start {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.content_start > div {
    text-align: center;
}
.titre_adhesion {
    font-family: var(--font-condensed);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--bleu-foncer);
}
.bt_bleu, .bt_bleu_outline, .bt_vert, .bt_supprimer {
    display: inline-flex;
    font-family: var(--font-condensed);
    font-weight: 600;
    font-size: 1.1rem;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    padding: 0.6rem 1rem;
    text-decoration: none;
    color: #ffffff !important;
    background-color: var(--bleu-foncer);
    border-radius: 999px;
}
.bt_vert {
    background-color: green;
}
.bt_supprimer {
    background-color: var(--grey-color);
}
.bt_bleu_outline {
    color: var(--bleu-foncer)!important;
    background-color: #ffffff;
    border: 2px solid var(--bleu-foncer);
}

/**
* Licences
*/
.ligne_licence {
    display: block;
}
.sous_ligne_licence {
    display: block;
    padding: 0 0 0 1rem;
}
.label_sous_ligne_licence {
    display: flex;
    align-items: center;
}
fieldset {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #efefef;
    background: none;
}
legend {
    font-weight: bold;
}
.fieldset_grey {
    background-color: #f8f8f8;
}

/**
* Total
*/
.hello_total {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    margin: 2rem 0;
    background-color: #efefef;
}
.hello_total > span {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    padding: 0.35rem 0.5rem;
    font-size: 1rem;
}
.hello_total > span > b {
    display: flex;
    min-width: 90px;
    justify-content: flex-end;
}

/**
* Navigation bottom
*/
.navig_bottom {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.navig_bottom > * {
    margin: 0;
}

/**
* Famille
*/
.content_ajouter {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
.hello_h4 {
    display: block;
    padding: 0.5rem 0;
    font-weight: bold;
}