/**
* HEADER
*/
.header_back {
    position: sticky;
    z-index: 1;
    top: 40px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 1rem 0 0 0; 
    height: 60px;
    background-color: #1e3b60;
    width: 90%;
    border-radius: 0.5rem;
}
.link_menu, .active {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    border: none;
}
.link_menu:hover,
.link_menu:active,
.link_menu:focus,
.active {
    color: #ffffff !important;
    background-color: #3971a8;
}

/**
* Tarifs
*/
.content_tarifs {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    margin: 0 0 3rem 0;
    max-width: 90%;
    min-height: 150px;
}
.content_tarifs h4 {
    font-size: 1.3rem;
    color: #1e3b60;
    padding: 0;
    margin: 0.5rem 0;
}
.module_tarifs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
}
.module_tarifs > span,
.module_tarifs > label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.2rem 0;
}
.module_tarifs > label > span {
    display: flex;
    width: 150px;
    flex-basis: 150px;
}
.module_tarifs input {
    width: 100%;
}
/**
* Page Adhesions
*/
.hello_content_clients {
    position: relative;
    min-height: 400px;
    width: 90%;
}
.ligne_client {
    display: block;
    background-color: #ffffff;
    padding: 0 2rem 2rem 2rem;
    margin-bottom: 0.5rem;
}
.navig_dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
}
.ligne_client h2 {
    font-size: 1.5rem;
}
.ligne_client h3 {
    font-size: 1.1rem;
}
.contant_cellules {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.5rem;
}
.cellule_client {
    display: flex;
    flex-direction: column;
}
.cellule_titre {
    display: flex;
    flex-direction: column;
}
.cellule_statut b {
    color: #1e3b60;
}
.export_csv {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #8c8f94;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
}
.export_csv > img {
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
}
.hidden {
    display: none;
}
/**
* BOUTONS
*/
.nav_bottom {
    display: flex;
    margin-top: 0.8rem;
    justify-content: flex-end;
}
.bt_modifier, .bt_valider_modif {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80px;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s linear;
}
.bt_modifier {
    color: #ffffff;
    background-color: #1e3b60;
}
.bt_modifier:hover,
.bt_modifier:focus,
.bt_modifier:active {
    background-color: #3971a8;
}
.bt_valider_modif {
    color: #ffffff;
    background-color: green;
}
.bt_valider_modif:hover,
.bt_valider_modif:focus,
.bt_valider_modif:active {
    box-shadow: 0px 0px 0px 5px var(--orange-clair);
    background-color: rgb(0, 99, 0);
}

/**
* Loader
*/
.hello_loader {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba( 255,255,255, 0.85);
}
.hello_loader::before {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    border: 6px solid #1e3b60;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
/**
* VERSION MOBILE
*/
@media screen and (max-width:750px) {
    
    .header_back, .hello_content_clients { width: 95%; }
    .content_tarifs { display: block; max-width: 95%; }
    .contant_cellules { display: block; }
}